@media only screen and (max-width:426px) {
  .row-modal img{
    width: 25px !important;
  }
  .row-modal .d-inline{
    font-size: 14px;
  }
  .row-modal .col-5{
    padding-left: 0;
}
.navbar{
  background-color: #f8f9fa !important;
  min-height: 5px !important;

} 
.navbar-brand img {
  width: 50vw;
  max-width: 60px !important;
  min-width: 60px !important;
  margin-left: 20px !important;

}
.navbar li a{
  color: #545454 !important;
} .navbar .navbar-toggler {
  height: 2em !important;
  width: 2.8em !important;
  color: rgba(0,0,0,.5) !important;
  border-color: rgba(0,0,0,.1) !important;
}
.navbar .navbar-toggler-icon {
  background-image: url("asset/toggle-icon.png") !important;
}
.navbar .navbar-toggler-icon {
  display: inline-block;
  width: 1.4em !important;
  height: 1em !important;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

 }


 @media only screen and (max-width: 321px) {
  .row-modal img{
    width: 25px !important;
  }
  .row-modal .d-inline{
    font-size: 13px !important;
  }
  .text-right>a{
    font-size: 13px !important;
    
  }
  .row-modal .fa-copy {
    font-size: 18px;
}
 }
 .navbar{
   /* background-color: #f8f9fa !important; */
 }
 .svg-inline--fa {
  display: inline-block;
  /* font-size: inherit; */
  height: 1em;
  /* overflow: visible; */
  vertical-align: -0.125em;
}
.text-right>a {
  text-decoration: none;
  border-radius: 10px;
  color: #047002;
  border: 1px solid #047002;
  padding: 6px 12px;
  transition: .2s;
}
 .navbar-brand img {
    width: 50vw;
    max-width: 80px;
    min-width: 80px;
    margin-left: 90px;
  }
  .navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;

  }
  nav.sticky {
    background-color: #f8f9fa!important;
    box-shadow: 0 5px 29px -8px rgb(0 0 0 / 19%);
  }
  nav.sticky li a{
    color: #545454 !important;
  }
  nav.sticky .navbar-toggler {
    height: 2em !important;
    width: 2.8em !important;
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.1) !important;
  }
  nav.sticky .navbar-toggler-icon {
    background-image: url("asset/toggle-icon.png") !important;
}
nav.sticky .navbar-toggler-icon {
  display: inline-block;
  width: 1.4em !important;
  height: 1em !important;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

  .row-modal img{
    width: 40px;
    margin-right: 5px;
  }
  .row-modal .text-right a{
    color: #28A74D !important;
  }
  .row-modal .text-right a:hover{
    color: white !important;
    background-color: #28A74D;
    border: #28A74D;
  }

  .modal-backdrop{
    position: static !important;
  }
  
  
  .navbar > div {
    transition: all 1000ms ease-in-out;
  }
  .navbar {
    transition: all 500ms ease-in-out;
    min-height: 94px;
    padding: 3px 16px;
  }
  
  .nav-link {
    font-weight: 600 !important;
    color: white !important;
    transition: 0.5s;
  }
  .contact a{
    border: 1px solid #8EE73B;
    border-radius: 5px;
    padding: 10px 15px !important;
    color: #8EE73B !important;
    cursor: pointer;
  }
  nav.sticky .contact a{
    background-color: #8EE73B;
    color: white !important;
  }
  .dropdown-menu li{
      font-weight: 400 !important;
  }
  .nav-link:hover {
    color: #8EE73B !important;
  }
   
  @media only screen and (max-width: 1151px) {
  .navbar-brand img {
    margin-left: 0px;
  }
  }
  @media only screen and (max-width: 991.5px) {
  .navbar-brand img {
    margin-left: 60px;
  }
  .navbar-nav > li{
     text-align: center;
  }
  .contact a{
    border-color: transparent;
    color: white !important;
  }
  nav.sticky .contact a{
    background-color: transparent !important;
    color: #545454 !important;
  }
  
  
  }
  @media only screen and (max-width: 500px) {
  .navbar-brand img {
    margin-left: 10px;
  }
  
  
  }
@media only screen and (max-width:426px) {
  .row-modal img{
    width: 25px !important;
  }
  .row-modal .d-inline{
    font-size: 14px;
  }
  .row-modal .col-5{
    padding-left: 0;
}
.navbar{
  background-color: #f8f9fa !important;
  min-height: 5px !important;

} 
.navbar-brand img {
  width: 50vw;
  max-width: 60px !important;
  min-width: 60px !important;
  margin-left: 20px !important;

}
.navbar li a{
  color: #545454 !important;
} .navbar .navbar-toggler {
  height: 2em !important;
  width: 2.8em !important;
  color: rgba(0,0,0,.5) !important;
  border-color: rgba(0,0,0,.1) !important;
}
.navbar .navbar-toggler-icon {
  background-image: url("asset/toggle-icon.png") !important;
}
.navbar .navbar-toggler-icon {
  display: inline-block;
  width: 1.4em !important;
  height: 1em !important;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

 }


 @media only screen and (max-width: 321px) {
  .row-modal img{
    width: 25px !important;
  }
  .row-modal .d-inline{
    font-size: 13px !important;
  }
  .text-right>a{
    font-size: 13px !important;
    
  }
  .row-modal .fa-copy {
    font-size: 18px;
}
 }
 .navbar{
   /* background-color: #f8f9fa !important; */
 }
 .svg-inline--fa {
  display: inline-block;
  /* font-size: inherit; */
  height: 1em;
  /* overflow: visible; */
  vertical-align: -0.125em;
}
.text-right>a {
  text-decoration: none;
  border-radius: 10px;
  color: #047002;
  border: 1px solid #047002;
  padding: 6px 12px;
  transition: .2s;
}
 .navbar-brand img {
    width: 50vw;
    max-width: 80px;
    min-width: 80px;
    margin-left: 90px;
  }
  .navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;

  }
  nav.sticky {
    background-color: #f8f9fa!important;
    box-shadow: 0 5px 29px -8px rgb(0 0 0 / 19%);
  }
  nav.sticky li a{
    color: #545454 !important;
  }
  nav.sticky .navbar-toggler {
    height: 2em !important;
    width: 2.8em !important;
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,.1) !important;
  }
  nav.sticky .navbar-toggler-icon {
    background-image: url("asset/toggle-icon.png") !important;
}
nav.sticky .navbar-toggler-icon {
  display: inline-block;
  width: 1.4em !important;
  height: 1em !important;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

  .row-modal img{
    width: 40px;
    margin-right: 5px;
  }
  .row-modal .text-right a{
    color: #28A74D !important;
  }
  .row-modal .text-right a:hover{
    color: white !important;
    background-color: #28A74D;
    border: #28A74D;
  }

  .modal-backdrop{
    position: static !important;
  }
  
  
  .navbar > div {
    transition: all 1000ms ease-in-out;
  }
  .navbar {
    transition: all 500ms ease-in-out;
    min-height: 94px;
    padding: 3px 16px;
  }
  
  .nav-link {
    font-weight: 600 !important;
    color: white !important;
    transition: 0.5s;
  }
  .contact a{
    border: 1px solid #8EE73B;
    border-radius: 5px;
    padding: 10px 15px !important;
    color: #8EE73B !important;
    cursor: pointer;
  }
  nav.sticky .contact a{
    background-color: #8EE73B;
    color: white !important;
  }
  .dropdown-menu li{
      font-weight: 400 !important;
  }
  .nav-link:hover {
    color: #8EE73B !important;
  }
   
  @media only screen and (max-width: 1151px) {
  .navbar-brand img {
    margin-left: 0px;
  }
  }
  @media only screen and (max-width: 991.5px) {
  .navbar-brand img {
    margin-left: 60px;
  }
  .navbar-nav > li{
     text-align: center;
  }
  .contact a{
    border-color: transparent;
    color: white !important;
  }
  nav.sticky .contact a{
    background-color: transparent !important;
    color: #545454 !important;
  }
  
  
  }
  @media only screen and (max-width: 500px) {
  .navbar-brand img {
    margin-left: 10px;
  }
  
  
  }
