<!DOCTYPE html>
<html lang="en">
    <!-- config : header -->
    <th:block th:include="components/config.html :: header(title='NFZero - let&rsquo;s Start the project not from zero' , keywords='NFZ, NFZero, Not From Zero, Template Builder, Web Template Builder')">
    </th:block>

    <body class="bg-dark-nfz">
        
        
    <!--Navbar-->
    <th:block th:include="components/navbar.html :: navbar"></th:block>
    
    
    
    
    <!-- footer -->
    <th:block th:include="components/footer.html :: footer"></th:block>

    <!-- Config : Script -->
    <th:block th:include="components/config.html :: script"></th:block>
</body>
</html>
