<!DOCTYPE html>
<html lang="en">
    <!-- config : header -->
    <th:block th:include="components/config.html :: header(title='NFZero - let&rsquo;s Start the project not from zero' , keywords='NFZ, NFZero, Not From Zero, Template Builder, Web Template Builder')">
    </th:block>

    <body class="bg-dark-nfz">


        <!--Navbar-->
    <th:block th:include="components/navbar.html :: navbar"></th:block>

    <div class="break-section"></div>

    <section class="bg-dark-nfz">
        <div class="container text-white">
            <h2 class="mb-5" style="font-weight: 300;"data-aos="fade-up" data-aos-duration="1500">Choose your favorite template.</h2>
            <div class="subnav">
                <ul>
                    <li class="text-info" id="all-subnav-templates">All</li>
                    <li class="" id="navbar-subnav-templates">Navbar</li>
                    <li id="banner-subnav-templates">Banner</li>
                    <li id="content-subnav-templates">Content</li>
                    <li id="footer-subnav-templates">Footer</li>
                    <li class="text-muted" id="comingsoon-subnav-templates">Coming soon... </li>
                </ul>
            </div>
            <div class="templates">
                <div class="row">

                    <div class="col-sm-12 col-lg-4 mt-4 navbar-template" th:each="navbar : ${navbars}">
                        <div class="card bg-dark-nfz border-1 border-white " style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Navbar</h6>
                                <p class="card-text" th:text="${navbar.name}">Navbar name</p>
                                <button class="btn btn-primary">Creator</button>

                                <button th:class="'btn border-1 border-info text-info template-' + ${navbar.templateId}" th:attr="onclick=|selectNavbar('${navbar.templateId}')|">Select</button>
                                <button class="btn border-1 border-danger text-danger d-none" th:attr="onclick=|deleteNavbar()|" th:id='${navbar.templateId}' >Unselect</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4 mt-4 banner-template" th:each="banner : ${banners}">
                        <div class="card bg-dark-nfz border-1 border-white " style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Banner</h6>
                                <p class="card-text" th:text="${banner.name}">Banner name</p>
                                <button class="btn btn-primary">Creator</button>

                                <button th:class="'btn border-1 border-info text-info template-' + ${banner.templateId}"   th:attr="onclick=|selectBanner( '${banner.templateId}' )|">Select</button>
                                <button class="btn border-1 border-danger text-danger d-none" th:attr="onclick=|deleteBanner()|" th:id='${banner.templateId}' >Unselect</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4 mt-4 footer-template" th:each="footer : ${footers}">
                        <div class="card bg-dark-nfz border-1 border-white " style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">Footer</h6>
                                <p class="card-text" th:text="${footer.name}">footer name</p>
                                <button class="btn btn-primary">Creator</button>
                                <button th:class="'btn border-1 border-info text-info template-' + ${footer.templateId}" th:attr="onclick=|selectFooter('${footer.templateId}')|">Select</button>
                                <button class="btn border-1 border-danger text-danger d-none" th:attr="onclick=|deleteFooter()|" th:id='${footer.templateId}' >Unselect</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="final-button d-none" id="final-button">
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 '><span class="bg-dark-nfz text-white px-1 rounded" id="selected-count">0</span> Template has choosed.</div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                <div class='button-preview-download'>
                    <button class="btn btn-primary" onclick="preview()">Preview</button>
                    <button class="btn border-1 border-info text-info" onclick="download()">Download</button>
                </div>
            </div>
        </div>
    </section>
    <div class="break-section"></div>
    <section class="bg-dark-nfz">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <img th:src="@{/image/quote-08c1b712d6a6f2a891a0c524f236ca60.svg}" width="60px">

                </div>
                <div class="col-12 d-flex justify-content-center mt-4">
                    <h4 style="max-width: 700px; color:#3e889f;">You may never know what results come of your actions, but if you do nothing, there will be no results.</h4>
                </div>
                <div class="col-12">
                    <h5 class="text-muted">-Mahatma Gandhi</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <th:block th:include="components/footer.html :: footer"></th:block>

    <!-- Config : Script -->
    <th:block th:include="components/config.html :: script"></th:block>
    <script th:src="@{/script/templatesScript.js}"></script>
</body>
</html>
