.banner{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 750px;
    left: 0;
  }
  
  .banner-home .text .col-md-12{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .banner .slide .carousel-item img{
   object-fit: cover !important;
   filter: brightness(50%);
   width: 100% !important;
  }
  .text {
    z-index: 3;
    position: absolute;
    top: 220px;
  }
  .banner .text p{
    color: #8EE73B ;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .banner .text .col-lg-5{
    position: relative;
    top: 180px;
  }
  .text h1{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
  
  
  }
  
  
  span.hijau {
      color:  white ;
  }
  .tagline {
      color: white;
      font-weight: 200px !important;
    }
    .tagline h5{
      font-size: 16px;
      color: #c0c0c0;
      font-weight: 300 !important;
      margin: auto 100px;
    }
    .tagline .btn-banner{
      margin-top: 25px;
      font-weight: bold;
      color: white;
      border-radius: 3px;
      text-align: left;
      padding: 8px 20px;
      background-color: transparent;
      border: 2px solid white;
      transition: 0.3s ease-out;
  }
  .tagline .btn-banner:hover{
      color: #41691B;
      border: 2px solid #8EE73B;
      background-color: #8EE73B;
  
      
  }
   
  
  
  /* media social */
  
  .medsos ul {
      display: flex;
      position: absolute;
      top: 480px;
      left: 47.5%;
      transform: translate(-50%, -50%);
    }
    
    .medsos ul li {
      list-style: none;
    }
    
    .medsos ul li a {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 38px;
      font-size: 20px;
      margin: 10px 10px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 1px solid white;
      z-index: 1;
    }
     
    
    .medsos ul li a .icon {
      position: relative;
      color: white;
      transition: .5s;
      z-index: 3;
    }
    
    
    .medsos ul li a:hover .icon {
      color: #fff;
      transform: rotateY(360deg);
    }
     
    
    .medsos ul li a:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f00;
      transition: .5s;
      z-index: 2;
    }
    
    .medsos ul li a:hover:before {
      top: 0;
    }
    
    .medsos ul li:nth-child(1) a:before{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
    .medsos ul li:nth-child(2) a:before{
        background: #3b5999;
    }
    
    .medsos ul li:nth-child(3) a:before {
      background: black;
      color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
  
  
  @media only screen and (max-width: 992px) {
    /* medsos */
    .medsos ul {
     left: 47.5%;
   }
  }
  
  @media only screen and (max-width: 768px) {
    /* on top */
    .banner{
      text-align: center;
    }
  .tagline h5{
      padding: auto 20% !important;
      margin: auto 20px;
    }
  
  
  /* medsos */
  .medsos ul {
    left: 47.5%;
  }
  }
  
  
  @media only screen and (max-width: 426px){
    /* on top */
    .text h1{
      font-size: 40px;
  
    }
    .banner .carousel-item img{
      height: 840px !important;
    }
   
    .tagline h5 {
      margin: auto 0;
    }
  /* medsos */
  .medsos ul {
    left: 43.5%;
  }
  }
  
  @media only screen and (max-width: 376px){
  /* on top */
  .text h1{
    font-size: 38px;
    margin: auto 5% !important;
  }
  .tagline h3 {
    line-height: 31px;
    font-size: 21px;
    margin: auto 10% !important;
  }
  .tagline .btn-banner{
    font-size: 14px;
  }
  .medsos ul {
    left: 45%;
  }
  }
  
  