<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./banner.css" type="text/css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="banner" style="position: relative;">
        <div class="banner-home">
          <div class="row text">
                </div>
                <div id="carouselExampleControlsBanners" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" style="height: 780px;" src="/asset/image/rental.jpeg" alt="First slide">
                      <div class="carousel-caption text" data-aos="fade-down"
                      data-aos-duration="2000">
                        <p>GET YOUR CAR WITH</p>
                        <h1><span class="hijau">Quality </span>care rent</h1>
                        <div class="tagline">
                          <h5>Premium Rent Car & Motorcycle In Bali. Renting an easy matter, even if you are renting out a luxury coupe for a weekend ride.</h5>
                          <a href="/product"><button class="btn btn-banner">Find A Vehicle</button></a>
                      </div>
                      <div class="medsos">
                        <ul>
                          <li>
                            <a href="https://www.instagram.com/sewamotordanmobildibali_/">
                              <i class="fab fa-instagram icon"></i> </a>
                            </li>
                            <li>
                              <a href="https://www.facebook.com/Bali-Quality-Motorbike-Car-Rental-108076010628475/">
                              <i class="fab fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li>
                            <a href="https://vt.tiktok.com/ZSdBu5dUn/">
                              <i class="fab fa-tiktok icon"></i>
                            </a></li>
                        </ul>
                      </div>
                </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" style="height: 780px;" src="/asset/image/nusapenida.jpeg" alt="Second slide">
                      <div class="carousel-caption text" data-aos="fade-down"
                      data-aos-duration="2000">
                      <p>ENJOY TOUR VACATION WITH</p>
                        <h1>Nusa Penida Destination Tour</h1>
                        <div class="tagline">
                          <h5>Nusa Penida is very popular around the world. If you are holiday to Bali then you should have time to visit this Nusa Penida.</h5>
                          <a href="https://nusapenidadestinationtour.com/"><button class="btn btn-banner">Visit Now</button></a>
                      </div>
                      <div class="medsos">
                        <ul>
                          <li>
                            <a href="https://www.instagram.com/balidaytours/">
                              <i class="fab fa-instagram icon"></i> </a>
                            </li>
                            <li>
                              <a href="https://www.facebook.com/Nusapenidadestinationtour/">
                              <i class="fab fa-facebook-f icon"></i>
                            </a>
                          </li>
                          <li>
                            <a href="https://api.whatsapp.com/send?phone=6282216675333&text=Hi Nusa Penida Destination Tours!">
                            <i class="fab fa-whatsapp
                            icon"></i>
                          </a>
                        </li>
                          
                        </ul>
                      </div>
                </div>
               
                </div>
              </div>
                  <a style="margin: auto 0 !important ; background-color: transparent !important;" class="carousel-control-prev" href="#carouselExampleControlsBanners" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a style="margin: auto 0 !important ; background-color: transparent !important;" class="carousel-control-next" href="#carouselExampleControlsBanners" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>



